<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ToolRental_Win.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ToolRental_Win.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <applicationSettings>
        <ToolRental_Win.Settings>
            <setting name="ColorTheme" serializeAs="String">
                <value>224, 224, 224</value>
            </setting>
        </ToolRental_Win.Settings>
    </applicationSettings>
    <userSettings>
        <ToolRental_Win.Properties.Settings>
            <setting name="ColorTheme" serializeAs="String">
                <value>224, 224, 224</value>
            </setting>
        </ToolRental_Win.Properties.Settings>
    </userSettings>

  <connectionStrings>
    <add name ="ConnectionString" connectionString = "Data Source = LAPTOP-CI43JBEV\SQLEXPRESS; Initial Catalog = ToolRental_Win; 
  Integrated Security = True" providerName =" system.data.sqlClient"/>
  </connectionStrings>
  
</configuration>